.App {
  font-family: "Hammersmith One", sans-serif;
  font-size: 0.8rem;
  background: #8db596;
  max-width: 470px;
  padding: 6px;
  border: 4px solid #707070;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 15px;
}

.Weather-app {
  max-width: 470px;
  padding: 10px;
  border: 4px solid#ac8daf;
  border-radius: 5px;
  background-color: #bedbbb;
  margin: 0 auto;
  margin-top: 15px;
}

.Current-wrapper {
  background: rgb(241, 212, 212);
  background: linear-gradient(
    10deg,
    rgba(241, 212, 212, 1) 0%,
    rgba(190, 219, 187, 1) 85%
  );
  border: 4px solid #707070;
  border-radius: 5px;
  margin: 20px 40px;
  padding: 10px 10px 0px 10px;
}
.Forecast-wrapper {
  background: rgb(241, 212, 212);
  background: linear-gradient(
    10deg,
    rgba(241, 212, 212, 1) 0%,
    rgba(190, 219, 187, 1) 85%
  );
  max-width: 600px;
  margin: 0px 10px;
  border: 4px solid #707070;
  border-radius: 5px;
}
.Forecast canvas {
  display: block;
  color: #aa6969;
  height: 40px;
  width: 40px;
}

.Forecast {
  text-align: center;
  font-size: smaller;
  padding: 7px 7px 0px 7px;
  line-height: 1rem;
}
