body {
  background: rgb(241, 212, 212);
  background: linear-gradient(
    10deg,
    rgba(241, 212, 212, 1) 0%,
    rgba(190, 219, 187, 1) 85%
  );

  margin: 0, auto;
  color: #484c7f;
}
#root {
  margin: 0, auto;
}
.App {
  margin: 0 auto;
}
