body {
  background: rgb(82, 82, 82);
  background: linear-gradient(
    90deg,
    rgba(82, 82, 82, 1) 0%,
    rgba(65, 65, 65, 1) 35%,
    rgba(49, 49, 49, 1) 100%
  );
}
.App {
  margin: 30px auto;
  display: inline-block;
}
